* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ea3e3e;
   
}

html {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    color: #fff;
    margin: 100px auto;
    
}

a{
    text-decoration: none;

   
    
    
}

.users-form form{
    display:flex;
    flex-direction: column;
    gap: 30px;
    margin: 100px auto ;
    text-align: center;
    width: 500px;
    min-width: 300px;
    border-radius: 10px;
    border: solid 5px #fff;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #ea3e3e;
    padding: 30px;

  
}

.users-form form input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #000;
    border: 3px solid #fff;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#fff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
    
}

.users-form form input[type=text],
.users-form form input[type=password],
.users-form form input[type=email]{
    padding: 8px auto;
    border:5px solid #ea3e3e;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    outline:none;
    transition:.3s;
}

.users-form form input[type=text]:focus,
.users-form form input[type=password]:focus,
.users-form form input[type=password]:focus,
.users-form form input[type=email]:focus
{   border: 5px solid;
    border-color: #ea3e3e;
    box-shadow:0 0 10px 0 #fff;
}

.users-form form input[type=submit]{
    width: 50%;
    background-color: #ea3e3e; 
    border: 2px solid #eff3ea;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold; 
    color:#fff;
    text-align:center;
   
}

.users-form form input[type=submit]:hover {
    background-color: #fcfdfb;
    color: #000;
    font-weight: bold;
}

.users-table table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 4px;
}

table th{
    padding: 16px;
    text-align: center;
    font-size: .85em;
}

.users-table--edit{
    background: #fff;
    padding: 6px;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.users-table--delete{
    background: #fff;
    padding: 6px;
    color: #000;
    text-align: center;
    font-weight: bold;
}